@import Model.SearchForm
@import play.api.i18n.Messages
@import play.api.i18n.MessagesProvider
@import Model.TextSegment
@(keywords: ArrayList[String])(userList: ArrayList[ArrayList[ArrayList[TextSegment]]])(userReadability : ArrayList[ArrayList[String]])(searchForm: Form[SearchForm])(implicit messagesProvider: MessagesProvider, request: play.mvc.Http.Request)

@import helper._

@*
* @author: Zheyi Zheng - 40266266
* Created: 2024/11/2
* This is the searchResults view. It contains the search bar and search results from history search.
*@

<html lang="en">
<head>
    <title>Welcome to YT Lytics</title>
</head>
<body>
    <h1>Welcome to YT Lytics</h1>
    <!-- Input form for keyword-->
    @helper.form(action = routes.HomeController.search()) {
    @helper.inputText(searchForm("keyword"))
    @helper.CSRF.formField
    <input type="submit" value="submit">
    }
<!-- Display search results-->
@for((responseList, index) <- userList.zipWithIndex) {
    <div class="response">
        <p>
            <!-- Print the keyword here then print search results for this keyword-->
        <h3><b>Search term:</b> @keywords.get(index) Flesh-Kincaid Grade Level Avg.= @userReadability.get(index).get(0) , Flesch Reading Ease Score Avg.= @userReadability.get(index).get(1) .</h3>
            <a href="@routes.HomeController.videoStatistics(keywords.get(index))">More stats</a>
            <br/>
            @for(response <- responseList) {
                @for(segment <- response) {
                    <!-- Print all parts of the video information-->
                    @if(segment.url != null) {
                        @if(segment.text == "thumbnail"){
                            </br>
                            <img src="@segment.url" alt="Video thumbnail" />
                        } else {
                            <!-- Set hyperlink along with the text-->
                            <a href="@segment.url">@segment.text</a>
                        }
                    } else {
                        <!-- Only print the text, no hyperlink-->
                        @segment.text
                    }
                }
                <br/>
            }
        </p>

    </div>
}
</body>
</html>
